{% extends 'base.html.twig' %}

{% block title %}Création de compte{{parent()}}{% endblock %}

{% block body %}
    <div class="account-container">
        <div class="account-block-back">
            <div>
                <span>&#60;</span>
            </div>
            <div>
                <a href="/">Back</a>
            </div>
        </div>
        <div class="account-block-title">
            <div>Création de compte</div>
        </div>
        <div class="account-block-buttons">
            <div class="block-button">
                <a href="/fablab"><div class="button">FabLab</div></a>
                <div class="tooltip-button">
                    <a href="#">&#9432;</a>
                    <span class="tooltiptext-button"><br>Vous désirez créer un FabLab, choisissez cette option.</span>
                </div>
            </div>
            <div class="block-button">
                <a href="{{ path('register_fab_manager') }}"><div class="button">Fab Manager</div></a>
                <div class="tooltip-button">
                    <a href="#">&#9432;</a>
                    <span class="tooltiptext-button"><br>Vous dirigez un FabLab et souhaitez avoir plus de visibilité, le profil FabManager est pour vous.</span>
                </div>
            </div>
            <div class="block-button">
                <a href="{{ path('register_maker') }}"><div class="button">Maker</div></a>
                <div class="tooltip-button">
                    <a href="#">&#9432;</a>
                    <span class="tooltiptext-button"><br>Vous avez une âme de créatif ?<br>Que vous soyez amateur ou professionnel, le profil Maker est fait pour vous.</span>
                </div>
            </div>
        </div>
        <div class="block-legals">
            <div>
                <a href="#">Mentions légales</a>
            </div>
    </div>
{% endblock %}
